@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* ========================= */
/* Base Classes */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --primary-text-color: #183b56;
   --secondary-text-color: #577592;
   --accent-color: #2294ed;
   --accent-color-dark: #1d69a3;
   --padding-inline-section: 20px;

}

body{
   font-family: "Poppins", "Roboto";
   color: var(--primary-text-color);
}

h1{
   font-size: 3rem;
}

h2{
   font-size: 2rem;
}

h3{
   font-size: 1.5rem;
}

p{
   font-family: "Roboto", sans-serif;
   font-size: 1.25rem;
   color: var(--secondary-text-color);
   line-height: 1.8rem;
}

a{
   text-decoration: none;
   display: inline-block;
}

li{
   list-style-type: none;
}

/* ==================================== */






/* Utility Classes */
/* ================== */
.small-bold-text{
   font-size: 1rem;
   font-weight: 600;
}


.container{
   max-width: 1180px;   
   margin-inline: auto;
}

.flex{
   display: flex;
   align-items: center;
}

.primary-button{
   background-color: var(--accent-color);
   border-radius: 6px;
   font-weight: 600;
   color: white;
   padding: 10px 20px;
   
   transition: all 0.2s ease-in-out;
}
.primary-button:hover{
   background: var(--accent-color-dark);
}

.secondary-button{
   border-radius: 6px;
   padding: 10px 20px;
   font-weight: 600;
}


/* ================== */


/* Section: top-banner */
.top-banner{
   background-image: url("./assets/asset\ 30.png");
   background-color: #4fb3d4;
   background-size: 300px;
   padding: 10px 30px;
   text-align: center;
   color: #fff;
}




/* Section: Navbar */
.main-nav{
   justify-content: space-between;
   padding: 20px 0px;
   /* border: 2px solid red; */
}

.company-logo img{
   width: 200px;
   
}

.nav-links{
   flex-basis: 730px;
   /* border: 2px solid blue; */
}

.nav-links ul{
   justify-content: space-between;
}

.nav-links ul li a{
   color: var(--primary-color);
   transition: all 0.2s ease-in-out;

}

.nav-links ul li a:hover{
   color: var(--accent-color);
}


.signin{
   border: 1px solid var(--accent-color);
   padding: 10px 20px;
   border-radius: 4px;
}



.signup{
   /* background: var(--accent-color); */
   color: #fff !important;
}



